<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p>Project management</p>>
    </div>
    <ul class="ss">
      <li><button class="btn-3">Edit</button></li>
      <li><button class="btn-3">Assigne</button>
       <!-- <ul>
          <li><a href="#">Услуга 1</a></li>
          <li><a href="#">Длинная услуга 2</a></li>
          <li><a href="#">Услуга 3</a></li>
        </ul>-->
      </li>
      <li><button class="btn-3"> Start</button></li>
      <li><button class="btn-3">Resolve</button></li>
      <li><button class="btn-3">Ready for test</button></li>
      <li><button class="btn-3">ReOpen</button></li>
      <li><button class="btn-3">Close</button></li>
    </ul>
  </div>
</nav>
<nav class="navbar-primary">

  <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
  <ul class="navbar-primary-menu">
    <li>
      <a href="#"><span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">All PROJECTS </span></a>

      <a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="nav-label">MY TASK</span></a>
    </li>
  </ul>
</nav>

<div id="logo">
  <h1><a href="index.html">Project</a></h1>

</div>
<div class="cont">
  <div class="row">
    <div class=" col">
<p class="priorite">
  <label > Priority: </label>
  <input type="text" name="priority">
</p>

<p class="status">
  <label > Status:</label>
  <input type="text" name="status">
</p>

<p class="assigne">
  <label > Assigne:</label>
  <input type="text" name="assigne">
</p>
      <div class="ml-4  col" >
<p class="reporter">
  <label > Reporter:</label>
  <input type="text" name="reporter">
</p>

<p class="estimation">
  <label > Estimation:</label>
  <input type="text" name="estimation">
</p>

<p class="assigne">
  <label > Assigne</label>
  <input type="text" name="assigne">
</p>
      </div>
      <div class=" col" >
<p class="created">
  <label > Created:</label>
  <input type="text" name="created">
</p>

<p class="updated">
  <label > Updated:</label>
  <input type="text" name="updated">
</p>

<p class="resolved">
  <label > Resolved:</label>
  <input type="text" name="resolved">
</p>

<p class="closed">
  <label > Closed:</label>
  <input type="text" name="closed">
</p>
      </div>
</div>
  </div>
</div>
<div class="conteiner">
  <div class="row">
    <div class="sr-4 col">

<div class="clearfix">
  <label for="description-text" style="float: left;"> Description </label>
  <textarea class="form-control" id="description-text"></textarea>
</div>
      <div class=" col-2">
<div class="clearfix">
  <label for="attachments-text" style="float: left;"> Attachments </label>
  <textarea class="form-control" id="attachments-text"></textarea>
</div>
      </div>
        <div class=" col-2">
<div class="clearfix">
  <label for="comments-text" style="float: left;">Comments </label>
  <textarea class="form-control" id="comments-text"></textarea>

  <p><button> Add comment</button>
</div>
        </div>
    </div>
  </div>
</div>
